body{
    background-color: lightcoral;

}

#mainFont{
    margin: 20px 100px 20px 100px;
    line-height: 1.8;

}

h1{
    text-align: center;
    font-family: sans-serif;
    color: burlywood;
}

.btn-group{
    margin: 0 auto;
}
